.blank-row {
  margin-top:25px;
}

.logo {
  margin-top: 50px;
}

.status-messages {
  padding-top: 10px;
}

.content {

}

.help-block {
  margin:0;
}
.error-messages {
  color : red;
}

.status-bar {
  padding: 25px auto;
  margin: 0 auto;
}

.img-container {
  display: inline-block;
  margin: 5px;
}