.blank-row {
  margin-top:25px;
}

.logo {
  margin-top: 50px;
}

.status-messages {
  padding: 10px;
  color: blue;
  font-weight: bold;
}

.content {

}

.message-block {
  display: block;
}

.error-messages {
  color : red;
  height: 25px;
  margin:5px 0;
}

.status-bar {
  padding: 25px auto;
  margin: 0 auto;
}

.img-container {
  display: inline-block;
  margin: 15px;
  -webkit-transition: all 0.5s linear;
  -webkit-transform: scale3d(1,1,1);
}

.img-container:hover {
  -webkit-transform: scale3d(1.1,1.1,1.1);
  z-index: 10;
}
